<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>  
    <div class="chat-wrapper">
        <audio class="audio" src="inflicted.mp3" preload="metadata">
            <p>Alas, your browser doesn't support html5 audio.</p>
        </audio>
        <div class="popup">
            <p class="popup-text">ონლაინ კონსულტაციისთვის დააჭირეთ ღილაკს</p>
            <img class="support-icon" src="../support.png" alt="">
        </div>
        <div class="unexpanded-chat-window">
            <!-- <div class="title">
                Chat</div> -->
                <img class="icon" src="../email.png" alt="">
                <p class="unext-text">ონლაინ<br> კონსულტაცია</p>
        </div>
        <div class="expanded-chat-window">
            <div class="header">
                <p class="header-text">ონლაინ კონსულტაცია</p>
                <img class="chat-icon" src="../conversation.png" alt="">
                <div class="toolbar">
                    <img class="close-icon" onclick="closeChat()" src="../close-white.png" alt="">
                    <img class="fold-icon" src="../dash.png" alt="">
                    <img class="voice-icon" src="../voice.png" onclick="turnAudio()" alt="">
                    <img class="fullscreen-icon" src="../expand.png" onclick="sdsda()" alt="">
                </div>
                <div class="languages">
                    <p class="geo" onclick="LanguageChange('GEO')">GEO</p>
                    <p class="eng" onclick="LanguageChange('ENG')">ENG</p>
                    <p class="rus" onclick="LanguageChange('RUS')">RUS</p>
                </div>
            </div>
            <div class="login">
                    <label class="label" for="login-name">შეიყვანეთ სახელი</label>
                    <input type="text" name="login-name" class="login-name" id="login-name" required>
                    <span class="error">გთხოვთ შეიყვანოთ სახელი</span>
                    <button type="submit" class="login-btn">ჩატის დაწყება</button>
            </div>
            <div class="waiting hide">
                <p>გთხოვთ დაელოდოთ, ოპერატორი მალე გიპასუხებთ</p>
            </div>
            <div class="chat hide">
                <div class="loader-wrapper">
                    <!-- <div class="loader">
                      <span>{</span><span>}</span>
                    </div> -->
                  </div>
                <div class="messages">
                    <ul class="append">
                        <li class="received">
                            <div class="received-message">
                                <div class="list" >
                                    <img class="received-message-icon" src="../user.png" alt="">
                                    <p class="received-message-text">რით შემიძლია დაგეხმაროთ?</p>
                                </div>
                                
                                <p class="person">გიორგი</p>
                                
                            </div>
                        </li>
                        <li class="received">
                            <div class="received-message">
                                <div class="list" >
                                    <img class="received-message-icon" src="../user.png" alt="">
                                    <p class="received-message-text">რით შემიძლია დაგეხმაროთ?</p>
                                </div>
                                
                                <p class="person">გიორგი</p>
                                
                            </div>
                        </li>
                        <li class="sent">
                            <div class="sent-message">
                                <p class="message-text">არაფრით, მადლობა</p>
                            </div>
                        </li>
                        <li class="received">
                            <div class="received-message">
                                <div class="list" >
                                    <img class="received-message-icon" src="../user.png" alt="">
                                    <p class="received-message-text">რით შემიძლია დაგეხმაროთ?</p>
                                </div>
                                
                                <p class="person">გიორგი</p>
                                
                            </div>
                        </li>
                        <div id='typing-indicator hide'>
                            <span class='typing-dot'></span>
                            <span class='typing-dot'></span>
                            <span class='typing-dot'></span>
                        </div>
                    </ul>
                </div>

                <div class="input">
                    <div id="messageSupport">
                      
                      <input type="text" autocomplete="off" class="message-input" id="newMessage" placeholder="პასუხი">
                      <button type="submit" class="send-btn">გაგზავნა</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="../chat.js"></script>
</body>
</html>