.chat-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: translateY(300px);
    transition: transform .3s ease-in-out;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.unexpanded-chat-window {
    height: 80px;
    background-color: #e67e22;
    border-radius: 30px 6px 45px 30px;
    cursor: pointer;
    width: 100px;
    float: right;
    position: relative;
}
.unext-text{
    display: none;
    color: white;
    text-align: center;
    margin-left: 40px;
}
.chat-icon{
    width: 80px;
}
.header {
    height: 100px;
    background-color: #e67e22;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.toolbar{
    float: right;
    height: 100%;
}
.close-icon{
    width: 15px;
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.voice-icon{
    width: 18px;
    right: 70px;
    top: 10px;
    position: absolute;
    cursor: pointer;
}
.fold-icon{
    width: 15px;
    position: absolute;
    cursor: pointer;
    right: 50px;
    top: 10px;
}
.fullscreen-icon {
    width: 15px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 10px;
}
.unexpanded-chat-window:hover {
    border-radius: 6px 6px 6px 6px;
    width: 250px;
}
.icon {
    width: 40px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}
.expanded-chat-window {
    display: none;
    height: 550px;
    background-color: #ecf0f1;
    position: relative;
    border-radius: 10px 10px 10px 10px;
}
.chat-wrapper {
    transform: translateY(0); 
}
.title {
    color: white;
    text-align: center;
}
.login {
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.label{
    margin-top: 150px;
    margin-bottom: 15px;
    color: #e67e22;
}
.error{
    color: red;
    margin-top: 5px;
    display: none;
}
.login-name {
    padding-left: 10px;
    height: 45px;
    border-radius: 6px;
    border: solid 1px #e67e22;
}
.login-name:focus {
    outline: none;
}
.login-btn:focus {
    outline: none;
}
.login-btn {
    background-color: #e67e22;
    cursor: pointer;
    height: 35px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 50px;
}
.header-text {
    position: absolute;
    text-align: center;
    top: 20px;
    left: 100px;
}
.languages {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.languages > p {
    margin: 5px;
    cursor: pointer;
}
.show{
    display: block;
}
.hide {
    display: none;
}
.chat {
    position: relative;
    height: 100%;
}
.input {
    position: absolute;
    bottom: 100px;
    padding: 10px;
    left: 0;
    width: 350px;
}
.messageSupport{
    display: flex;
    margin-bottom: 20px;
}
.message-input{
    height: 75px;
    border-radius: 6px;
    border-style: none;
    margin-bottom: 10px;
    width: 80%;
    padding-left: 20px;
}
.send-btn {
    height: 77px;
    border-radius: 0 6px 6px 0;
    border: solid 1px #e67e22;
    background-color: #e67e22;
    position: absolute;
    color: white;
    right: 32px;
    width: 67px;
}
.send-btn:focus {
    outline: none;
}
.message-input:focus {
    outline: none;
}
.messages {
    display: flex;
    margin-top: 84px;
    
}
.received-message{
    width: 100%;
    height: auto;
    position: relative;
}
.received-message-icon{
    width: 40px;
    height: 40px;
}
.received-message-text {
    background-color: #e67e22;
    font-size: 13px;
    padding: 11px;
    border-radius: 6px 30px 30px;
    margin-left: 5px;
    width: auto;
    color: white;
}

.messages > ul {
    list-style: none;
    padding-left: 8px;
    width: 100%;
    overflow: auto;
    height: 337px;
   
}

.person {
    position: absolute;
    bottom: -4px;
    font-size: 12px;
    left: -2px;
}

.list {
    display: flex;
}
.message-text {
    background-color: green;
    width: 100%;
}
.sent-message {
    width: 100%;
    height: 60px; 
    /* height:auto; */
}
.message-text {
    background-color: green;
    width: auto;
    font-size: 13px;
    padding: 9px;
    border-radius: 30px 6px 30px 30px;
    color: white;
    float: right;
    margin-right: 10px;
}
.sent {
    width: 100%;
    height: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  





